<html>
<body>
<h1 style="background-color:#33475b;font-size:50px">Movies Identifier Search Service</h1>
<form action="" method="POST" class="form-index">
  <div class="form-index"><label for="value">ID Type</label>
    <select name="ID Type">
		<option value="content id">Content ID</option>
		<option value="imdb id">IMDB ID</option>
		<option value="title">Content title</option>

	</select>
  </div>
  <div class="form-index">
    <label for="value">ID Value</label>
    <input type="value" name="value" id="value" required>
  </div>
  <div class="form-index">
    <input type="submit" value="Search">
  </div>
</form>
</body>
</html>